@import url(fonts.css);
@import url(colores.css);
@import url(fawesome-all.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: var(--secondary-500) --main-secondary-color: var(--secondary-100)
        /* variables que vayamos a utilizar */


}
.bc{
    color: var(--text-950) !important;
}
body {
    min-height: 100vh;
    background-color: rgb(255, 254, 254);
    color: var(--primary-900);

}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
footer{
    padding: 2%;
}
.btn-add{
    width: 96%;
    background:linear-gradient(to right, rgb(0, 162, 255), rgb(0, 52, 165));
    border: none;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 2%;
    cursor: pointer;
}

.flex {
    display: flex;

}
.active{
    background:linear-gradient(to right, rgb(0, 162, 255), rgb(0, 52, 165));

    
}
.btn-grupo{
    padding: 2%;
}
.lista{
    display: flex;
    background-color: rgba(128, 128, 128, 0.658);
    height: 40px;
    width: 100%;
    color: rgba(0, 0, 0, 0.432);
    overflow: visible;
    
}
.btn-grupo{
    display: flex;
    justify-content: space-evenly;
        
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}


.side{
    position: fixed;
    bottom: 0;
    height: 90%;
    width: 200px;
    background-color: var(--primary-900);
    opacity: .7;
    transition: all .3s ease-in-out;
    left: -300px;
    
}

.mover{
    left:0px;
}
.gap-1 {
    gap: 1em;

}

.spbt {
    justify-content: space-between;
}

.cajax {
    display: flex;
}

.contenedor {
    display: flex;
    place-items: center;
    background-color:white;
    height: 200px;
    width: 30%;
    margin: auto;
    justify-content: space-evenly;

}

.me-2 {
    margin-left: .5em!important;
}

.check {
    padding: 1em;
    font-size: 2em;

}
#papi-carrusel .carousel-item{
    height: 50% !important;
}

.transparent {
    color: transparent;
}
.pt1{
    font-size:20pt;
}

.gray{
    display: flex;
    font-size: 10px;
    color: gray;
    justify-content: center;
    align-items: center;
}

@media (orientation=landscape) {
    .search{
        background: linear-gradient(
            0deg,
            hsl(0deg 0% 100%) 0%,
            hsl(226deg 100% 95%) 20%,
            hsl(225deg 100% 90%) 40%,
            hsl(224deg 100% 85%) 60%,
            hsl(223deg 100% 78%) 80%,
            hsl(220deg 100% 68%) 100%
          );
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        input[type=search]{
            margin-top: 2%;
            padding-left: 10px;
            border-radius: 5px;
            height: 40px;
            border: none;
            width: 40%;
        }
        .lupa{
            position: absolute;
            padding: 10px;
            margin-top: 2%;
            left: 65.9%;
            cursor: pointer;
        }
       
     
      
    h2{
        font-family: "Fira Sans" ;
        font-weight: 700 !important;
        /* mix-blend-mode: difference; */
        text-shadow:  white 0px 1px 3px;
    }
    .carousel{
        display: none !important;
    }
      .img-conf{
        object-fit: cover;
      }
      
      .img-conf{
            height: 600px;
      }
    }
.tbody{
    background-color: rgb(255, 255, 255) ;
}
img{
    object-fit: cover;
    height: 80%;
}
.image{
    width:30%;
    
        
}
.contenedor-image{
    
}
}
main{
    height: 100vh;
    width: 100%;
}
@media (orientation=portrait) {
    main{
        height: 100vh;
        width: 100%;
    }
    .btn-group{
        height: 200px;
        width: 100%;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
      }
      .caca{
          justify-content: space-between;
      }
      .image{
          border-radius:0 0 30px 30px;
          overflow: hidden;
          box-shadow: 0 0 5px;
          margin-bottom: 10px;
          height: 60%;
        
      }
      .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 3.25rem !important;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }
    h2{
        font-family: "Fira Sans" ;
        font-weight: 700 !important;
        /* mix-blend-mode: difference; */
        text-shadow:  white 0px 1px 3px;
    }
      .img-conf{
        object-fit: cover;
      }
      .carousel{
        height: 100% !important;
        width: 100% !important;
        background-size: cover !important;
      }
      .carousel-caption{
        text-align: left !important;
        /* backdrop-filter: blur(5px); */
        /* border: #f; */
        border-radius: 20px;
      }
      .img-conf{
            height: 600px;
      }
      .texto{
          position: absolute;
          display: flex;
          flex-direction: column;
          bottom: 0;
          padding: 2em;
        
      }
      .top-text-image{
        color:white;
        text-shadow: rgb(0, 0, 0)1px 0px 2px;
      }
      .title-text-image{
          font-size: 2rem;
          color: white;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.185);
          border-radius: 10px;
          padding-left: 5px;
      }
      .title-text-only{
        font-size: 2rem;
        color: black;
        font-weight: bold;
        padding-left: 2%;
    }
    .precio{
        font-size: 1.7rem;
        color: rgb(84, 206, 255);
        font-weight: 700;
    }
      .footer-text-image{
          display: flex;
          color: rgb(171, 173, 175);
          font-weight: 600;
          font-size: 1.3rem;
          margin-left: 4%;
      }
      .footer{
          margin-left: 10px;
          color: rgba(255, 255, 255, 0.514);
          font-size: 1rem;
          text-decoration: line-through 2px;
      }
      .search{
          padding: 20px;
          position: absolute;
          top: 8%;
          opacity: 0.5;
          width: 100%;
          z-index: 200;
          
      }
      input[type=search]{
          padding-left: 40px;
          border-radius: 5px;
          height: 40px;
          border: none;
          width: 100%;
      }
      .lupa{
          position: absolute;
          padding: 10px;
          cursor: pointer;
      }
      .action{
          background-color: rgb(170, 238, 255);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: none;
          margin: 2px;
          transition: ease-in-out;
      }
      .inactive{
          width: 5px;
          height: 5px;
          margin-top: 4px;
      }
      .absolute{
          position: absolute;
          bottom: 10px;
          left: 50%;
      }
      .botonera{
          display: flex;
          justify-content: center;
      }
      .action:hover{
          transform: scale(1.0) 1s;
          box-shadow: 0 0 13px white;
      }
      .title-mediun-text{
          justify-content: space-between;
          padding: 10px;
          font-weight: bold;
          font-size: 1.1rem;
      }
      .link-text{
          color: rgb(0, 174, 255);
          font-size: 1rem;
          cursor: pointer;
      }
      .center{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .spa{
          display: flex;
          justify-content: space-between;
          color: rgba(0, 0, 0, 0.63);
          text-decoration: none;
      }
      .top{
          color: black;
          position: absolute;
          top: 10px;
          width: 100%;
          padding: 20px;
          font-size: 20pt;
      }
      
      .dato-text{
          height: 20%;
          color: gray;
          padding-left: 10px;
      }
      .dato-text-2{
          height: 20%;
          color: black;
          padding-left: 10px;
          font-weight: bold;
      }
    .card{
        width: 200px;
        height: 200px;
        border-radius:10px 10px;
        overflow: hidden;
        flex-direction: column;
        margin-bottom: 40px;
        display: flex;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        padding-bottom: 1%;
        background-color: white;
        img{
            object-fit: cover;
            height: 80%;
        }
    }
    

     .btn-group{
        padding-left: 10px;
    }
    .cajax {
        flex-direction: column;
        height: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contenedor {
        width: 100%;
        margin-bottom: 8px;
        border-radius: 10px;
        padding: 2%;
        justify-content: space-around;
    }
    

}
@media screen and (max-width: 920px) {

   
     
}

@media screen and (max-width: 480px) {
   
    
    
}
.flex{}
.radio-color{
    height: 30px;
    width: 30px;
    border:  2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(0, 238, 255);
}
.radio-color:nth-child(1){
    background-color: gray;
}
.radio-color:nth-child(2){
    background-color: rgb(0, 0, 0);
}
.radio-color:nth-child(3){
    background-color: rgb(248, 248, 248);
}
.radio-color:hover{
   
    cursor: pointer;
}
.active-color{
     outline: 2px solid rgb(0, 195, 255);
}
.img-conf{
    background-size: 100%
}